name: coverage

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

concurrency:
  group: coverage-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'
        bundler-cache: true
    - name: Install dependencies
      run: bundle exec rake setup
    - name: Run test coverage
      env:
        COVERAGE: true
      run: bundle exec rake spec:coverage
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: coverage/coverage.xml
        slug: risqiromadhoni/retryable-async
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        verbose: true
