name: test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

concurrency:
  group: test-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      min_version: 3.1
      engine: cruby

  test:
    name: Ruby ${{ matrix.ruby }} on ${{ matrix.os }}
    needs: ruby-versions
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        exclude:
          - os: windows-latest
            ruby: truffleruby
          - os: windows-latest
            ruby: jruby-head
          - os: windows-latest
            ruby: jruby
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Install dependencies
      run: bundle exec rake setup 
    - name: Run lint
      run: bundle exec rake rubocop
    - name: Run test
      run: bundle exec rake spec:verbose
    - name: Run type check
      run: bundle exec rake rbs:validate
